USE [master]
GO
/****** Object:  Database [D:\WEB\YEMEKTARIFLERI\APP_DATA\YEMEKTARIFLERI.MDF]    Script Date: 20.12.2021 01:16:53 ******/
CREATE DATABASE [D:\WEB\YEMEKTARIFLERI\APP_DATA\YEMEKTARIFLERI.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YemekTarifleri', FILENAME = N'D:\Web\YemekTarifleri\App_Data\YemekTarifleri.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'YemekTarifleri_log', FILENAME = N'D:\Web\YemekTarifleri\App_Data\YemekTarifleri_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [D:\WEB\YEMEKTARIFLERI\APP_DATA\YEMEKTARIFLERI.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [D:\WEB\YEMEKTARIFLERI\APP_DATA\YEMEKTARIFLERI.MDF]
GO
/****** Object:  Table [dbo].[YT_Kategoriler]    Script Date: 20.12.2021 01:16:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YT_Kategoriler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YT_Kullanicilar]    Script Date: 20.12.2021 01:16:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YT_Kullanicilar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](250) NOT NULL,
	[Password] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[FullName] [nvarchar](250) NULL,
	[DTarihi] [date] NULL,
	[Sehir] [nvarchar](250) NULL,
	[Hakkinizda] [nvarchar](250) NULL,
	[Instagram] [nvarchar](250) NULL,
	[Facebook] [nvarchar](250) NULL,
	[Youtube] [nvarchar](250) NULL,
	[Twitter] [nvarchar](250) NULL,
	[OTarihi] [datetime] NOT NULL,
	[GodMode] [bit] NOT NULL,
	[ProfilResmi] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YT_Malzeme]    Script Date: 20.12.2021 01:16:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YT_Malzeme](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[TarifId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YT_YapimAsamasi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](250) NOT NULL,
	[TarifId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YT_Resim]    Script Date: 20.12.2021 01:16:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YT_Resim](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[TarifId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YT_Tarifler]    Script Date: 20.12.2021 01:16:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YT_Tarifler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[YSuresi] [nvarchar](250) NOT NULL,
	[Porsiyon] [nvarchar](250) NOT NULL,
	[Durum] [bit] NOT NULL,
	[OTarihi] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[KategoriId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YT_Yorumlar]    Script Date: 20.12.2021 01:16:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YT_Yorumlar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](250) NOT NULL,
	[OTarihi] [datetime] NOT NULL,
	[TarifId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[YT_Kullanicilar] ADD  DEFAULT (getdate()) FOR [OTarihi]
GO
ALTER TABLE [dbo].[YT_Kullanicilar] ADD  DEFAULT ('default.jpg') FOR [ProfilResmi]
GO
ALTER TABLE [dbo].[YT_Tarifler] ADD  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[YT_Tarifler] ADD  DEFAULT (getdate()) FOR [OTarihi]
GO
ALTER TABLE [dbo].[YT_Yorumlar] ADD  DEFAULT (getdate()) FOR [OTarihi]
GO
ALTER TABLE [dbo].[YT_Malzeme]  WITH CHECK ADD FOREIGN KEY([TarifId])
REFERENCES [dbo].[YT_Tarifler] ([Id])
GO
ALTER TABLE [dbo].[YT_YapimAsamasi]  WITH CHECK ADD FOREIGN KEY([TarifId])
REFERENCES [dbo].[YT_Tarifler] ([Id])
GO
ALTER TABLE [dbo].[YT_Resim]  WITH CHECK ADD FOREIGN KEY([TarifId])
REFERENCES [dbo].[YT_Tarifler] ([Id])
GO
ALTER TABLE [dbo].[YT_Tarifler]  WITH CHECK ADD FOREIGN KEY([KategoriId])
REFERENCES [dbo].[YT_Kategoriler] ([Id])
GO
ALTER TABLE [dbo].[YT_Tarifler]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[YT_Kullanicilar] ([Id])
GO
ALTER TABLE [dbo].[YT_Yorumlar]  WITH CHECK ADD FOREIGN KEY([TarifId])
REFERENCES [dbo].[YT_Tarifler] ([Id])
GO
ALTER TABLE [dbo].[YT_Yorumlar]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[YT_Kullanicilar] ([Id])
GO
USE [master]
GO
