*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1f1f1f;
}
#header {
    background-color: #F78664;
}
.category-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    font-size: 1.5rem;
    font-weight: 500;
}
.category-link {
    text-decoration: none;
    color: #fff;
}
.food-list-item {
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: box-shadow;
    border: 1px solid rgba(255, 255, 255, 0.24);
}

.food-list-item:hover {
    box-shadow: rgba(113, 173, 133, 0.34) 0px 3px 8px;
    color: #71AD85;
}

/* https://stackoverflow.com/questions/67104652/hover-effect-change-your-picture-with-icon-on-profile-picture */
.profilepic {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #111;
}

.profilepic:hover .profilepic__content {
  opacity: 1;
}

.profilepic:hover .profilepic__image {
  opacity: .5;
}

.profilepic__image {
  object-fit: cover;
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

.profilepic__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.profilepic__link {
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  color: #FFF;
}
.profilepic__link:hover {
  color: #71AD85;
}
